@import "tailwindcss";

@theme inline {
  --color-primary: #00b7b5;
  --color-primary-dark: #009a99;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@utility component-px {
  @apply px-8 md:px-16 lg:px-32;
}

@utility component-py {
  @apply py-8 lg:py-10;
}

* {
  scroll-behavior: smooth;
}
